<div class="text-center mt-3 mb-3">
    <form>
        <input
            class="rounded"
            type="search"
            placeholder="search..."
            autofocus
            (keyup)="debounce.next($event.target.value)"
            >
            <!-- a cada parte que digitar ele pega e joga para filter -->
            <!-- () é event biding (evento é disparado e vai da view do template para o componente) e [] é data biding (vc puxa o dado para o template) -->
    </form>
</div>

<!-- é exibido oq é escrito automaticamente atribuido a propriedade filter -->
<!-- {{filter}} -->
<!-- pipe -->
<!-- {{nome | uppercase }} deixa tudo em caixa alta -->

<ap-photos [photos]="photos | filterByDescription: filter"></ap-photos>


<ap-load-button></ap-load-button>
