<div class="text-center mt-3 mb-3">
    <form>
        <i aria-hidden="true" class="fa fa-search"></i>
        <input class="rounded" type="search" placeholder="search..." autofocus
            (keyup)="debounce.next($event.target.value)">
        <!-- a cada parte que digitar ele pega e joga para filter -->
        <!-- () é event biding (evento é disparado e vai da view do template para o componente) e [] é data biding (vc puxa o dado para o template) -->
    </form>
</div>

<!-- é exibido oq é escrito automaticamente atribuido a propriedade filter -->
<!-- {{filter}} -->
<!-- pipe -->
<!-- {{nome | uppercase }} deixa tudo em caixa alta -->

<ap-photos [photos]="photos | FilterByDescription: filter"></ap-photos>


<!-- ele pega a variavel has more lá e ve se ele é true ou não -->
<ap-load-button (click)="load()" [hasMore]="hasMore"></ap-load-button>